<div class="container-lg container-fluid py-3">
   <div class="row">
      <div class="col-md-4 my-2">
         <div class="card">
            <div class="card-body">
               <h4 class="text-center">Alimento Balanceado</h4>
               <div class="desc-body">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam consectetur vitae necessitatibus esse
                  eaque, illo nam doloremque quibusdam cupiditate soluta animi laboriosam non magnam praesentium
                  accusamus eligendi exercitationem amet minus!
               </div>
               <button class="btn btn-success">
                  + Información
               </button>
            </div>
         </div>
      </div>
      <div class="col-md-4 my-2">
         <div class="card">
            <div class="card-body">
               <h4 class="text-center">Medicina</h4>
               <div class="desc-body">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam consectetur vitae necessitatibus esse
                  eaque, illo nam doloremque quibusdam cupiditate soluta animi laboriosam non magnam praesentium
                  accusamus eligendi exercitationem amet minus!
               </div>
               <button class="btn btn-success">
                  + Información
               </button>
            </div>
         </div>
      </div>
      <div class="col-md-4 my-2">
         <div class="card">
            <div class="card-body">
               <h4 class="text-center">Producto Nombre</h4>
               <div class="desc-body">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam consectetur vitae necessitatibus esse
                  eaque, illo nam doloremque quibusdam cupiditate soluta animi laboriosam non magnam praesentium
                  accusamus eligendi exercitationem amet minus!
               </div>
               <button class="btn btn-success">
                  + Información
               </button>
            </div>
         </div>
      </div>
      <div class="col-md-4 my-2">
         <div class="card">
            <div class="card-body">
               <h4 class="text-center">Producto Nombre</h4>
               <div class="desc-body">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam consectetur vitae necessitatibus esse
                  eaque, illo nam doloremque quibusdam cupiditate soluta animi laboriosam non magnam praesentium
                  accusamus eligendi exercitationem amet minus!
               </div>
               <button class="btn btn-success">
                  + Información
               </button>
            </div>
         </div>
      </div>
      <div class="col-md-4 my-2">
         <div class="card">
            <div class="card-body">
               <h4 class="text-center">Producto Nombre</h4>
               <div class="desc-body">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam consectetur vitae necessitatibus esse
                  eaque, illo nam doloremque quibusdam cupiditate soluta animi laboriosam non magnam praesentium
                  accusamus eligendi exercitationem amet minus!
               </div>
               <button class="btn btn-success">
                  + Información
               </button>
            </div>
         </div>
      </div>
   </div>
</div>