.navbar {
   position: fixed;
   width: 100%;
   min-height: 10vh;
   z-index: 100;
}

.navbar-brand {
   color: #FDE05D;

   h1 {
      display: inline-block;
      font-weight: bold;
      font-size: 2.5rem;
      margin-bottom: 0;
   }
}

.img-icon {
   max-height: 8vh;
}

.nav-item {
   background-color: rgb(253, 224, 93, .3);
   border-radius: .5rem;
   margin: .2rem .5rem;
   min-width: 100px;
   text-align: center;
}

.nav-link {
   color: rgb(255, 255, 255) !important;
   text-transform: uppercase;
   font-size: 1.1rem;
   font-weight: bold;
}