<nav class="navbar navbar-expand-lg navbar-dark bg-success">
   <div class="container-lg container-fluid">
     <a class="navbar-brand" [routerLink]="['/']">
      <img src="/assets/img/icon.png" alt="port" class="img-icon"> 
        <h1>EL PIETRAIN</h1>
      </a>
     <button class="navbar-toggler" (click)="changeCollapse()">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="navbar-collapse" [class.collapse]="collapse">
       <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <a class="nav-link" [routerLink]="['/']">Inicio</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" [routerLink]="['/productos']">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contacto']">Contáctanos</a>
          </li>
       </ul>
     </div>
   </div>
 </nav>