.popup-main{
   background-color: rgb(212, 230, 236, .3);
   padding: .2rem 1rem;
   border-radius: 10px;
   width: 100%;
   margin-top: 1rem;
   max-width: 800px;
}
.bg-main{
   background-color: #50AF4C;
   min-height: 70vh;
}
.port-img{
   margin: 1rem 0;
   border-radius: 10px;
}