<footer class="footer mt-auto bg-light">
   <div class="container-lg container-fluid">
      <div class="d-flex justify-content-between">
         <div class="pt-2">
            <h2 class="fw-bold">Somos "EL PEITRIAN"</h2>
            <span class="h5">De Johana Sanchez</span>
         </div>
      </div>
      <div class="text-center fw-bold">
         Dirección: Mercado Marko Jara - Paita  / CELULAR : 964057491 
      </div>
   </div>
   <div class="bg-success text-center py-1">
      <span>&copy; JACS - {{year}}</span>
   </div>
</footer>