<div class="container contact ">
   <form class="form">
      <h3 class="text-center">Contáctanos</h3>
      <div class="form-group">
         <label >Nombres</label>
         <input type="text" class="form-control">
      </div>
      <div class="form-group">
         <label >Apellidos</label>
         <input type="text" class="form-control">
      </div>
      <div class="form-group">
         <label >Email</label>
         <input type="text" class="form-control">
      </div>
      <div class="form-group">
         <label >Email</label>
         <textarea class="form-control"></textarea>
      </div>
      <button class=" mt-2 btn btn-success px-3">Enviar</button>
   </form>
</div>