<div class="container contact ">
   <div class="form">

      <h3 class="text-center">Contáctanos</h3>

      <div class="row">
         <div class="col-md-4">
            <div class="card card-body my-2">
               <h4>Celular: 964057491</h4>
            </div>
            <div class="card card-body my-2">
               <h4>Dirección: Mercado Marko Jara - Paita </h4>
            </div>
         </div>
         <div class="col-md-8">
            <div class="card card-body my-2">
               <h4>Ubícanos:</h4>
               <div class="map">
                  <iframe
                     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1206.9527257912391!2d-81.10023817077445!3d-5.10077466397474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x49127811ff01221d!2zNcKwMDYnMDIuOCJTIDgxwrAwNSc1OC45Ilc!5e1!3m2!1ses-419!2spe!4v1661703132806!5m2!1ses-419!2spe"
                     allowfullscreen="" loading="lazy"
                     referrerpolicy="no-referrer-when-downgrade"></iframe>
               </div>
            </div>
         </div>
      </div>



   </div>
</div>